name: Deploy to EC2 and Restart Dash App

on:
  push:
    branches:
      - main 

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up SSH
      uses: webfactory/ssh-agent@v0.5.4
      with:
        ssh-private-key: ${{ secrets.EC2_SSH_PRIVATE_KEY }}

    - name: Deploy to EC2
      run: |
        ssh -o StrictHostKeyChecking=no ec2-user@your-ec2-instance-ip << 'EOF'
          cd /aws-cicd
          git pull origin main
          source venv/bin/activate
          # Install any new dependencies if needed
          pip install -r requirements.txt
          # Restart the Dash app, running inside the virtualenv if needed
          sudo systemctl restart dash-app.service
        EOF
