name: Deploy to EC2 and Restart Dash App

on:
  push:
    branches:
      - main  # or your deployment branch

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: AWS

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up SSH
      uses: webfactory/ssh-agent@v0.5.4
      with:
        ssh-private-key: ${{ secrets.EC2GH }}

    - name: Deploy to EC2
      run: |
        ssh -o StrictHostKeyChecking=no ec2-user@16.171.237.24<< 'EOF'
          git pull origin main
          # Restart the Dash app; replace with your command
          sudo systemctl restart dash-app.service
        EOF
